<% layout("/layouts/auth") %>

<div class="auth-page">

    <!-- DARK OVERLAY -->
    <div class="auth-overlay"></div>

    <!-- LOGIN CARD -->
    <div class="auth-card">

        <!-- LOGO -->
        <div class="text-center mb-3">
            <i class="fa-brands fa-airbnb auth-logo"></i>
        </div>

        <!-- TITLE -->
        <h2 class="text-center fw-bold mb-4">
            Welcome Back
        </h2>

        <!-- LOGIN FORM -->
        <form method="POST" action="/login">

            <!-- USERNAME -->
            <div class="mb-3">
                <input
                    type="text"
                    name="username"
                    class="form-control auth-input"
                    placeholder="Enter Username"
                    required
                >
            </div>

            <!-- PASSWORD -->
            <div class="mb-3">
                <input
                    type="password"
                    name="password"
                    class="form-control auth-input"
                    placeholder="Enter Password"
                    required
                >
            </div>

            <!-- BUTTON -->
            <button class="auth-btn">
                Login
            </button>

            <div class="text-center mt-3">
    Don't have an account?
    <a href="/signup">Sign Up</a>
</div>

        </form>

    </div>

</div>